:root {
  --dark-blue: #0056b3;
  --light-blue: #3ea6ff;
  --yellow: #ffc107;
  --dark-gray: #343a40;
  --light-gray: #7b8b8e;
  --green: #87ba45;
  --white: #ffffff;
  --black: #242328;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;

  background-color: var(--white);
  color: var(--white);
}

@font-face {
  font-family: "PTSerif-Italic";
  src: url("./assets/fonts/PTSerif-Italic.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

/* header */
.header {
  background: var(--black);
  /* min-height: 100px; */
  padding: 1.2em 1em;
}
.header__main__title {
  display: flex;
  font-size: 0.5rem;
  align-items: center;
}

.header__logo {
  max-width: 50px;
  max-height: 50px;
}
.header__company__name {
  margin: 3px 0 0 0;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5rem;
  transform: scale(1, 95%);
}
.header__main__menu {
  margin-left: auto;
  margin-right: 0.5em;
  font-size: 2rem;
}
.header__main__links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.header__main__links__list {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.header__main__links__list li {
  margin: 0.5em 0;
  padding: 0.8em 1.3em;
}
.header__main__links__list li::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--green);
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
}

.header__main__link {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--white);
}

/*hero */
.hero {
  min-height: 50vh;
  width: 100%;
  color: black;
}
.carousel__caption__container {
  top: 50%;
  height: min-content;
  transform: translate(0, -50%);
}
.carousel__toptext--font {
  font-weight: normal;
  font-style: italic;
  font-family: "PTSerif-Italic";
  font-size: 1.2rem;
}
.carousel__separator::before {
  content: "- - - - - - - - - -";
  font-size: 10px;
}
.carousel__subtext--font {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: bold;
}
.carousel__btn__container {
  display: grid;
  gap: 15px;
  justify-content: space-between;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 140px);
}
.carousel__btn {
  background-color: var(--dark-blue);
  color: var(--white);
  white-space: nowrap;

  padding: 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.carousel__btn--green {
  background: var(--green);
}
.carousel__btn--clear {
  border: 2px solid var(--white);
  color: var(--white);
  background: transparent;
}
.carousel__btn--clear:active {
  background: var(--white);
  color: var(--green);
}
.carousel__btn--padding {
  padding: 10px 15px;
}
.carousel__btn--font {
  font-weight: bold;
  font-size: 14px;
}
.carousel__image {
  max-width: 100%;
  background: black;
  max-height: 100%;
  filter: brightness(50%);
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 0;
  /* 
  will remove the arrows from the carousel
  */
  /* display: none; */

  filter: alpha(opacity=0); /* IE support */
}

/* info */
.info {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1rem;
  color: #525252;
  text-align: center;
  gap: 20px;
}
.info__header {
  position: relative;
  font-size: 2.2rem;
  font-family: "Montserrat";
  padding-bottom: 20px;
}
.info__header__text {
  color: var(--green);
  font-weight: bold;
}
.info__subheader {
  font-size: 2.2rem;
  font-weight: normal;
  font-family: "Montserrat";
}
/* .info__header::after {
  content: "";
  width: 80px;
  height: 3px;
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  background: #87ba45;
}
.info__para {
  color: var(--light-gray);
  font-family: "Open Sans", sans-serif;
  line-height: 28px;
}
.info__btn {
  text-transform: uppercase;
  background: var(--green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 13px 30px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
}

/* services */
.service__title {
  text-align: center;
  font-size: 2rem;
  margin: 1em 0;
  text-transform: uppercase;
}


/*card */
.card {
  border: 1px dotted #ccc;
  background: #f7f8f9;
  padding: 1em;
  width: 90%;
  margin: 1.5em auto;
}
.card__details {
  display: flex;
  position: relative;
  flex-direction: column;
}
.card__header {
  font-size: 1.3rem;
  color: var(--green);
  padding: 1em 0.5em;
}
.card__description {
  padding: 1em 0.5em;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1rem;
}
.card__icon {
  position: absolute;
  right: 0;
  top: 30%;
  margin-right: 0.5em;
  font-size: 1.5rem;
  color: var(--green);
}

.card__service__title {
  font-size: 1.2rem;
  margin: 0.5em 0;
  color: #525252;
}

/* form */
.form {
  background: #1a191e;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: 100%;
}
form input {
  width: 100%;
  margin: 0.5em 0;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 48px;
}

form textarea {
  margin: 0.5em 0;
  padding: 10px 20px;
  width: 100%;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.form__title {
  font-size: 1.3rem;
}
.form__title--strong {
  font-weight: bold;
}

.form__button {
  font-size: 1rem;
  border: none;
  color: var(--white);
  text-transform: uppercase;
  background: var(--green);
  width: 100%;
  border-radius: 3px;
  padding: 0.8em 1em;
  margin: 1em 0;
}

/* footer */
.footer {
  color: #7b8b8e;
  text-align: left;
  background: #242328;
}

.footer__container {
  display: flex;
  align-items: center;

  padding: 1em;
}

.footer__logo {
  width: 30px;
  margin-right: 0.5em;
}
.footer__description {
  margin-left: 1em;
}
.footer__title {
  font-size: 1.5rem;
  color: white;
}
.footer_details {
  margin: 0.5em 0;
}
.footer__header {
  font-size: 1.2rem;
  color: var(--green);
  margin: 1.2em 0;
}

.footer__contact,
.footer__form {
  padding: 0.5em 1em;
}
.footer__address,
.footer__time {
  font-size: 1.2rem;
}

.footer__submenu {
  background-color: #1a191e;
  padding: 1.4rem 0;
  width: 100%;
  text-align: center;
}
.footer__submenu__links {
  margin: 0 0.5em;
  text-decoration: none;
}

/* contact*/
.contact {
  color: var(--dark-gray);
}
.contact__container {
  padding: 1em;
}
.contact-form {
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  margin: 0 auto;
}
.contact__details {
  padding: 1em;
}

.contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__item__icon {
  font-size: 3.5rem;
  margin: 0.3em 0;
}
.contact__item__address {
  font-size: 1.2rem;
  color: var(--green);
}
.contact__item__text {
  text-align: center;
  margin: 0.3em 0;
}

/* service pagew */

.service__page__containe {
  padding: 1em;
  color: var(--dark-gray);
}
.service__title {
  text-align: center;
  font-size: 2rem;
  margin: 0;

  text-transform: uppercase;
  color: var(--dark-gray);
}

.service__work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 1em 0;
  color: var(--dark-gray);
}
.service__header {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.service__after,
.service__before {
  border: 1px dotted #ccc;
  background: #f7f8f9;
  padding: 1em;
  width: 100%;
  margin: 1.5em auto;
  border-radius: 5px;
}
