:root {
  --dark-blue: #0056b3;
  --light-blue: #3ea6ff;
  --yellow: #ffc107;
  --dark-gray: #343a40;
  --light-gray: #7b8b8e;
  --green: #87ba45;
  --white: #ffffff;
  --black: #242328;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 16px;

  background-color: var(--white);
  color: var(--white);
}

@font-face {
  font-family: "PTSerif-Italic";
  src: url("./assets/fonts/PTSerif-Italic.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-VariableFont.ttf");
}

/* header */
.header {
  background: var(--black);
  padding: 1.2em 1em;
}
.header__main__container {
  display: flex;
  align-items: center;
}

.header__main__title {
  display: flex;
  align-items: center;
}
.header__logo {
  max-width: 30px;
  max-height: 30px;
  border-radius: 5px;
  margin-left: 10px;
}
.header__main__header {
  font-size: 1.5rem;
  margin-left: 0.5em;
  margin-bottom: 0;
}
.header__company__name {
  margin: 3px 0 0 0;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5rem;
  transform: scale(1, 95%);
  font-family: "Open Sans";
}
.header__main__menu {
  margin-left: auto;
  margin-right: 0.5em;
  font-size: 2rem;
  cursor: pointer;
}
.header__main__links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 20px;
}
.header__main__links__list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 1rem;
  border-top: 1px solid var(--dark-gray);
}
.header__main__links__list li {
  width: 100%;
}
.header__main__links__list li a {
  width: 100%;
  display: inline-block;
  text-align: start;
  padding: 0.8em 1.3em;
}
.header__main__link {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  border-bottom: 1px solid var(--dark-gray);
}
.header__main__link:hover {
  color: var(--green);
}

/*hero */
.hero {
  min-height: 50vh;
  width: 100%;
  color: black;
}
.carousel__caption__container {
  top: 50%;
  height: min-content;
  transform: translate(0, -50%);
}
.carousel__toptext--font {
  font-weight: normal;
  font-style: italic;
  font-family: "PTSerif-Italic";
  font-size: 1.2rem;
}
.carousel__separator::before {
  content: "- - - - - - - - - -";
  font-size: 10px;
}
.carousel__subtext--font {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: bold;
}
.carousel__btn__container {
  display: grid;
  gap: 15px;
  justify-content: space-between;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 140px);
}
.carousel__btn {
  background-color: var(--dark-blue);
  color: var(--white);
  white-space: nowrap;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.carousel__btn--green {
  background: var(--green);
}
.carousel__btn--clear {
  border: 2px solid var(--white);
  color: var(--white);
  background: transparent;
}
.carousel__btn--clear:active,
.carousel__btn--clear:hover {
  background: var(--white);
  color: var(--green);
}
.carousel__btn--green:active,
.carousel__btn--green:hover {
  filter: brightness(110%);
}
.carousel__btn--padding {
  padding: 10px 15px;
}
.carousel__btn--font {
  font-weight: bold;
  font-size: 14px;
}
.carousel__image__container {
  height: 300px;
  display: flex;
  align-items: center;
}
.carousel__image__container__auto {
  height: auto;
}
.carousel__image {
  max-width: 100%;
  width: 100%;
  background: black;
  min-height: 100%;
  filter: brightness(50%);
  max-width: 100%;
  /* width: 100%;
  height: 100%; /* Ensure aspect ratio is maintained */
  /* object-fit: cover; Scale the image while preserving its aspect ratio */
  /* background: black; */
  /* filter: brightness(70%); */
}

.carousel-item {
  max-height: 50%;
  width: 100%;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 0;
  /* 
  will remove the arrows from the carousel
  */
  /* display: none; */

  filter: alpha(opacity=0); /* IE support */
}

/* info */
.info {
  display: flex;
  flex-direction: column;
  padding: 2.5rem clamp(1rem, 5vw, 50vw);
  color: #525252;
  text-align: center;
  gap: 20px;
}
.info__header {
  position: relative;
  font-size: 2.2rem;
  font-family: "Montserrat";
  padding-bottom: 20px;
}
.info__header__text {
  color: var(--green);
  font-weight: bold;
}
.info__subheader {
  font-size: 2.2rem;
  font-weight: normal;
  font-family: "Montserrat";
}
.info__header::after {
  content: "";
  width: 80px;
  height: 3px;
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: #87ba45;
}
.info__para {
  color: var(--light-gray);
  font-family: "Open Sans";
  line-height: 28px;
}
.info__btn {
  text-transform: uppercase;
  background: var(--green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 13px 30px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
}
.info__btn:active,
.info__btn:hover {
  filter: brightness(110%);
}

/* services */
.service__title {
  text-align: center;
  font-size: 2rem;
  margin: 1em 0;
  text-transform: uppercase;
}
.services__photos .carousel__subtext--font {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 24px;
}
.services__details {
  display: flex;
  flex-direction: column;
  padding: 2.5rem clamp(1rem, 5vw, 50vw);
  text-align: center;
}
.services__details__header {
  font-family: "Montserrat";
  color: var(--dark-gray);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 20px;
  margin: 0;
}
.services__details__header--green-text {
  color: var(--green);
  font-weight: bold;
}
.services__details__subheader {
  color: var(--light-gray);
  font-family: "Open Sans";
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 30px;
  position: relative;
}
.services__details__subheader::after {
  content: "";
  width: 80px;
  height: 3px;
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: #87ba45;
}

/*card */
.services__cards {
  padding-top: 10px;
  padding: 2.5rem clamp(1rem, 5vw, 50vw);
}
.card {
  border: 1px dashed #ccc;
  background: #f7f8f9;
  padding: 1.8rem;
  width: 90%;
  margin: 1.5em auto;
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 15px;
  align-items: center;
}
.card img {
  width: 100%;
  border-radius: 5px;
}
.card__header {
  font-size: 1.3rem;
  color: var(--green);
  font-family: "Montserrat";
  margin: 0;
  text-align: left;
}
.card__description {
  font-size: 1rem;
  font-family: "Open Sans";
  color: var(--dark-gray);
  margin: 0;
  grid-column: 1/3;
  text-align: left;
}
.card__icon {
  font-size: 1.5rem;
  color: var(--green);
  grid-column: 2/3;
  grid-row: 1/2;
}

/* form */
.form {
  background: #1a191e;
  display: flex;
  padding: 2.5rem clamp(1rem, 5vw, 50vw);
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  max-width: 720px;
}
.form__inputs__grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
.form__left__container,
.form__right__container {
  width: 100%;
  flex: 1 1 300px;
}
form ::placeholder {
  color: var(--light-gray);
}
form input {
  width: 100%;
  margin: 0.7em 0;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 48px;
}
form input:focus,
form textarea:focus {
  outline: none;
  border: 1px solid var(--green);
  box-shadow: 0 0 5px var(--green);
}
form textarea {
  margin: 0.7em 0 0 0;
  padding: 10px 20px 0 20px;
  width: 100%;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.form__title {
  font-size: 1.3rem;
  position: relative;
  font-size: 1.8rem;
  font-family: "Montserrat";
  color: var(--white);
  font-weight: normal;
  padding-bottom: 25px;
  max-width: 720px;
  text-align: center;
}
.form__title--strong {
  font-weight: bold;
}
.form__title::after {
  content: "";
  width: 80px;
  height: 3px;
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: #87ba45;
}
.form__separator--dashed {
  border-bottom: 1px dashed var(--light-gray);
  width: 100%;
  overflow: visible;
  margin: 25px 0 30px 0;
}
.form__button {
  font-size: 1rem;
  border: none;
  color: var(--white);
  text-transform: uppercase;
  background: var(--green);
  width: 100%;
  border-radius: 5px;
  padding: 0.8em 1em;
  font-family: "Open Sans";
  font-weight: bold;
  transition: all 0.3s ease;
}
.form__button:active,
.form__button:hover {
  filter: brightness(110%);
}

/* footer */
.footer {
  color: #7b8b8e;
  text-align: left;
  background: #242328;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__form {
  margin-bottom: 30px;
}
.footer__top__menu {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem clamp(1rem, 5vw, 50vw);
  padding-top: 40px;
  gap: 25px;
  font-family: "Open Sans";
  margin-bottom: 20px;
}
.footer__left__container {
  flex: 1 1 auto;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content;
  row-gap: 20px;
  column-gap: 5px;
}
.footer__middle__container {
  flex: 1 0 150px;
}
.footer__right__container {
  flex: 1 0 200px;
}
.footer__logo {
  width: 40px;
  margin-right: 0.5em;
  border-radius: 5px;
  align-self: center;
}
.footer__description {
  margin-left: 1em;
}
.footer__title {
  font-size: 1.5rem;
  color: white;
  margin: 3px 0 0 0;
  text-transform: uppercase;
  font-weight: bolder;
  transform: scale(1, 95%);
  font-family: inherit;
}
.footer_details {
  font-family: inherit;
  font-size: 13px;
  color: var(--light-gray);
  font-weight: normal;
  grid-column: 1/3;
}
.footer__header {
  font-size: 1rem;
  color: var(--green);
  font-family: "Montserrat";
  margin-bottom: 20px;
}
.footer__address,
.footer__time {
  font-family: inherit;
  font-size: 13px;
  margin: 0;
}
.footer__submenu {
  background-color: #1a191e;
  padding: 1.4rem 1rem;
  width: 100%;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer__submenu__copyright {
  font-size: 13px;
  color: var(--light-gray);
  height: 100%;
  margin: 0;
  min-width: max-content;
  flex: 1;
}
.footer__submenu--bold {
  font-size: 14px;
}
.footer__submenu__social {
  display: flex;
  justify-content: center;
  min-width: 100px;
  flex: 1;
}
.footer__submenu__links {
  margin: 0 0.5em;
  text-decoration: none;
  font-size: 13px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.footer__submenu__links--facebook:hover {
  background-color: #4267b2;
}
.footer__submenu__links--instagram:hover {
  background-color: #e1306c;
}
.footer__submenu__icon {
  width: 100%;
  height: 100%;
  padding: 7px;
  filter: invert(1) brightness(50%);
}
.footer__submenu__icon:hover {
  filter: invert(1) brightness(1);
}

/* contact page*/
.contact {
  color: var(--dark-gray);
}
.contact__map {
  height: 400px;
  width: 100%;
  margin: 0 auto;
}
.contact__container {
  padding: 2.5rem clamp(1rem, 5vw, 50vw);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact__details {
  display: grid;
  gap: 15px;
  justify-items: center;
}
.contact__details--green {
  color: var(--green);
}
.contact__form {
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
}
.contact__form form {
  padding: 20px 30px 30px 30px;
}
.form__button--margin--top {
  margin-top: 10px;
}
.contact__items__container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.contact__item {
  flex: 1;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__item__icon {
  font-size: 3.5rem;
  margin: 0.3em 0;
  filter: contrast(70%);
}
.contact__item__title {
  font-size: 1.2rem;
  color: var(--green);
  font-family: "Montserrat";
}
.contact__item__text {
  text-align: center;
  margin: 0.3em 0;
  font-family: "Open Sans";
  color: var(--light-gray);
  margin: 0;
  margin-bottom: 5px;
}
.form__title--dark {
  color: var(--dark-gray);
}

/* service page */
.service__page__container {
  font-family: "Montserrat";
}
.service__title {
  text-align: center;
  font-size: 2rem;
  margin: 0;

  text-transform: uppercase;
  color: var(--dark-gray);
  font-family: "Montserrat";
}
.service__work {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: stretch;
  justify-content: center;
  padding: 0 clamp(1rem, 5vw, 50vw);
  margin: 0 0 20px 0;
  color: var(--dark-gray);
}
.service__header {
  font-size: 1.5rem;
  margin-bottom: 0.8em;
}
.service__after,
.service__before {
  flex: 1 1 300px;
  border: 1px dotted #ccc;
  background: #f7f8f9;
  padding: 1.8em;
  width: 100%;
  margin: 1.5em auto;
  border-radius: 5px;
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
.services__card__container {
  flex: 1 1 300px;
  margin: 20px 0;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.card__service__title {
  color: var(--green);
  font-weight: bold;
  margin: 0.5em 0;
  font-size: 1.2rem;
}
.card__details {
  font-family: "Open Sans";
  color: var(--dark-gray);
  align-self: flex-start;
}
.service__before img,
.service__after img {
  border-radius: 5px;
}

/* work on image zooming in */
@media (min-width: 500px) {
  .services__cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  }

  .carousel__image__container {
    height: 300px;
    display: flex;
    align-items: center;
  }
  .carousel__image {
    max-width: 100%;
    width: 100%;
    background: black;
    max-height: 70vh;
    object-fit: cover;
    /* object-fit: contain; */
    /* object-position: center; */
    filter: brightness(50%);
  }
}
